/* Global variables: */
html {
  --col-text: #c9d1d9;
  --col-bg: #0d1117;
  --col-primary: #f78166;
  --col-primary-btn: #c0543c;
  --col-border: rgb(33, 38, 45);
  --col-hover: rgba(110, 118, 129, 0.4);
}

/* Bootstrap buttons: */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-bg: var(--col-primary-btn);
  --bs-btn-border-color: var(--col-primary-btn);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);
  --bs-btn-active-bg: var(--bs-btn-bg);
  --bs-btn-active-border-color: var(--bs-btn-border-color);
}

.btn-primary:hover {
  filter: brightness(0.85);
}

.btn-primary:active {
  filter: brightness(0.75);
}

/* Site defaults: */
body {
  background: var(--col-bg);
  color: var(--col-text);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  color-scheme: dark;
  -webkit-text-size-adjust: 100%;
}

/* Header: */
#pageTitle {
  text-align: center;
}

/* Download controls: */
.download-controls {
  margin: auto;
  text-align: center;
  max-width: 300px;
}

#fileUploadLabel {
  border:var(--col-text) 2px solid;
  border-radius: 12px;
  width: 100%;
  height: 200px;
  line-height: 200px;
  overflow: hidden;
  cursor: pointer;
}

#downloadBtn {
  width: 100%;
}

/* Instructions: */
.platform-picker {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--col-border);
}

.platform-picker-content {
  margin-bottom: -1px;
  display: flex;
}

.platform-picker a {
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--col-text);
  text-align: center;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.platform-picker a:hover {
  color: var(--col-text);
  text-decoration: none;
  border-bottom-color: var(--col-hover);
  transition: border-bottom-color 0.2s ease 0s;
}

.platform-picker a.selected {
  color: var(--col-text);
  border-bottom-color: var(--col-primary);
}

.instructions-content > * {
  display: none;
}

.instructions-content > .selected {
  display: block!important;
}
